.App {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  padding: 0;
  border: none;
}

.field-block {
  width: 100%;
  margin-bottom: 20px;

  input[type="text"] {
    width: 100%;
    padding: 15px 0 15px 15px;
    background-color: #eee;
    border: none;
  }
}

.main-video {
  width: 62%;
  display: block;
  float: left;

  &__thumbnail {
    width: 100%;
    height: 400px;
    background-color: #eee;
  }
}

.video {
  &-list {
    width: 35%;
    display: block;
    float: left;
    margin-left: 3%;
  }

  &-item {
    &__thumbnail {
      width: 60%;
      height: 150px;
      background-color: #eee;
      display: block;
      float: left;
      margin-right: 10px;
    }

    &__title {
      margin-top: 0;
    }
  }
}